{{#each filteredContent as |item|}}
  {{#if limitReached}}
    <label {{action 'addToSelection' item}}>{{get item optionLabelPath}}</label>
  {{/if}}
{{else}}
  <label>no content yet</label>
{{/each}}

<br>

{{#each selections as |item|}}
  <label {{action 'removeFromSelection' item}}>{{get item optionLabelPath}}</label>
{{else}}
  <label>no selections yet</label>
{{/each}}

<br>
<br>
<br>
