<span style='background: rgba(255, 165, 0, 0.5)'>
  {{#each filteredContent as |item|}}
    <label {{action 'addToSelection' item}}>
      {{get item optionLabelPath}}
    </label>
  {{else}}
    <label>[]</label>
  {{/each}}
  <button {{action 'loadMore' parent}}>more..</button>
</span>

{{input value=queryString key-up=(action 'searchMore' parent)}}
{{content.length}}
<br>

<span style='background: rgba(50, 205, 50, 0.5)'>
  {{#each selections as |s|}}
    {{#if s.collapsed}}
      <label {{action 'removeTreeFromSelection' s.tree}}>
        {{s.count}} collapsed items
      </label>
    {{else}}
      <label {{action 'removeFromSelection' s.item}}>
        {{get s.item optionLabelPath}}
      </label>
      {{generic-field
        content=s.content
        tree=s.tree
        parent=s.item
        limit=s.limit
        loadMore=(action loadMore)
        addSelection=(action 'addSelection')
        removeSelection=(action 'removeSelection')}}
    {{/if}}

  {{else}}
    <label>[]</label>
  {{/each}}
</span>
