{{input value=queryString
  key-up=(action 'searchMore' parent)
  focus-out=(action 'setActive' 'input' false)
  focus-in=(action 'setActive' 'input' true)}}

<div class='content {{if contentIsActive 'active'}} {{if inputIsActive 'active'}}'
  {{action 'setActive' 'content' true on='mouseEnter'}}
  {{action 'setActive' 'content' false on='mouseLeave'}}>
  {{#each filteredContent as |item|}}
    <label {{action 'addToSelection' item}}>
      {{get item optionLabelPath}}
    </label>
  {{else}}
    <label>[]</label>
  {{/each}}
  <button {{action 'loadMore' parent}}>more..</button>
</div>
<div class='selection'>
  {{#each selections as |s|}}
    <div class='generic-field'>
      {{#if s.collapsed}}
        <label {{action 'removeTreeFromSelection' s.tree}}> X </label>
        <label class='collapsed'> {{s.count}} collapsed items </label>
      {{else}}
        <label {{action 'removeFromSelection' s.item}}> X </label>
        <label class='collapsed'> {{get s.item optionLabelPath}} </label>
        {{recursive-input
          content=s.content
          tree=s.tree
          parent=s.item
          selectionLimit=s.selectionLimit
          optionSelectionLimitPath=optionSelectionLimitPath
          collapseLimit=s.collapseLimit
          optionCollapseLimitPath=optionCollapseLimitPath
          optionExpandPath=optionExpandPath
          optionValuePath=optionValuePath
          optionLabelPath=optionLabelPath
          optionChildrenPath=optionChildrenPath
          loadMore=(action loadMore)
          addSelection=(action 'addSelection')
          removeSelection=(action 'removeSelection')}}
      {{/if}}
    </div>

  {{else}}
    <div class='generic-field last'><div class='selection'></div></div>
    <!--label>[]</label-->
  {{/each}}
</div>
