{{filteredContent.length}}
{{content.length}}
{{selections.length}}

{{#each filteredContent as |item|}}
  {{#if withinLimit}}
    <label {{action 'addToSelection' item}} style='background: red'>{{get item optionLabelPath}}</label>
  {{/if}}
{{else}}
  <label>no content yet</label>
{{/each}}

<br>

{{#each selections as |item|}}
  <label {{action 'removeFromSelection' item}} style='background: green'>{{get item optionLabelPath}}</label>
    {{v-3 }}
{{else}}
  <label>no selections yet</label>
{{/each}}

<br>