<h2 id="title">Welcome to Ember</h2>

{{generic-input-field
  content=array
  selections=selectionsForArray

  removeSelection=(action 'removeFromArray')
  addSelection=(action 'addToArray')
  optionLabelPath='label'}}

{{selectionsForArray.length}}
<br>=============================<br>

{{generic-input-field
  content=promise
  selections=selectionsForPromise

  removeSelection=(action 'removeFromPromise')
  addSelection=(action 'addToPromise')
  optionLabelPath='label'}}

{{selectionsForPromise.length}}
<br>=============================<br>

{{generic-input-field
  content=arrayOfPromises
  selections=selectionsForArrayOfPromises

  removeSelection=(action 'removeFromArrayOfPromises')
  addSelection=(action 'addToArrayOfPromises')
  optionLabelPath='label'}}

{{selectionsForArrayOfPromises.length}}
<br>=============================<br>

{{generic-input-field
  content=model
  selections=selectionsForModel

  removeSelection=(action 'removeFromModel')
  addSelection=(action 'addToModel')
  optionLabelPath='label'}}

{{selectionsForModel.length}}
<br>=============================<br>

{{generic-input-field
  content=promiseRecordArray
  selections=selectionsForPromiseRecordArray

  removeSelection=(action 'removeFromPromiseRecordArray')
  addSelection=(action 'addToPromiseRecordArray')
  optionLabelPath='label'}}

{{selectionsForPromiseRecordArray.length}}
<br>=============================<br>
